.breadcrumb
    height: 50px; 

.results-page 
    padding: 1rem;
    width: 80%; 
    margin: 0 auto; 
    background-color: #FFF;


.card 
    width: 100%;
    box-shadow:  !important;


.card-container 
    display: flex;
    justify-content: center;
    padding: 1rem;


.card-media 
    height: 140px;


.page-message 
    text-align: center;
